{{ template "layout" . }}
{{ define "main" }}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nama</th>
                <th scope="col">Umur</th>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
            <tr>
                <th scope="row">1</th>
                <td>{{ .Nama }}</td>
                <td>{{ .Umur }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>

</div>
{{ end }}