{{ template "layout" . }}
{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="/tambah-pembeli" class="btn btn-primary">tambah pembeli</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Nama</th>
                <th scope="col">Umur</th>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
            <tr>
                <!-- <th scope="row"></th> -->
                <td>{{ .Nama }}</td>
                <td>{{ .Umur }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>

</div>
{{ end }}